// Common
@mixin resetListBullets{
    list-style: none;
}

// MENU INLINE LI STYLES COMMON************
@mixin menu-inline-li-common{
    display: inline-block;
    // cursor: pointer;
}

// Section content with jumbo
.section-content-jumbo{
    // margin-top: 50px;
    min-height: calc(100vh - 460px - 172px);  //Sottrai altezze (jumbotron, footer)
    background-color: #eff3f6;



}

// Section content without jumbo
.section-content{
    margin-top: 53px;
    min-height:calc(100vh - 53px - 172px); //Sottrai altezze (navbar, footer)

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

h1{
    font-size: 26px;
    font-weight: 600;
    line-height: 0.88;
    margin-bottom: 15px;
    // letter-spacing: .075em;
}

h2, h3 , h4 , h5{
    line-height: 1.2;

}

h2{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

h5{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

h6{
    font-size: 14px;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 8px;
}

p{
    font-size: 16px;
    color: grey;
    margin-bottom: 8px;
}

.bg-trnsprt {
    background-color: rgba(22, 46, 68, 0.4);
    transition: 0.3s linear;
}
.bg-blue {
    background-color: #162e44;
    transition: 0.3s linear;
}

.no-scale-logo {
    transform: scale(1);
    transition: 0.4s linear;
}

.scale-logo {
    transform: scale(0.8);
    transition: 0.4s linear;
}

.nav-link{
    padding: 0.8rem 0.9rem;

    &:hover {
        background-color: #3490dc;
    }
}

.btn-boolbnb {
    background: linear-gradient(90deg, rgb(14, 143, 182) 0%, rgb(14, 143, 182) 50%, rgb(2, 0, 49)100%);
    color: #fff;
    opacity: 1;
    transition: opacity 0.1s linear;

    &.big {
      padding: 15px 25px;
      text-transform: uppercase;
      border-radius: 5px;
    }
  }

.btn-boolbnb:hover {
    opacity: 0.9;
    color: #fff;
}

.off {
    left: 65%;;
}

.on {
    left: 28%;
}
