.my-jumbotron-container{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #000;


    .my-jumbotron{
        width: 100%;
        height: 460px;
        background-repeat:no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        .my-search{
            height: 60px;
            background-color: rgb(255, 255,255, 0.8);
            border-radius: 10px;
            width: 600px;
            display: flex;
            justify-content: center;
            align-items: center;

            .my-btn-dark{
                color: #fff;
                background-color: #162e44;
                border-color: #162e44;
            }

            .my-search-form{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 15px;

                > input{
                    width: 80%;
                    margin-right: 15px;
                    height: 40px;
                    background: transparent;
                    border: none;
                    font-size: 25px;
                    outline: none;

                    input:-internal-autofill-selected{
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

