


.filter-container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    width: 100%;



    .filter-content{
        background-color: #fff;
        margin-bottom: 20px;
        padding: 25px;
        border-radius: 10px;
        width: 90%;
        border:1px solid #ccc;
        box-shadow: 5px 5px 10px 2px #ccc;



        .filter-properties{
            display: flex;

            >div{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                > label{
                    margin: 0;
                    margin-right: 15px;
                }

                > input{
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    text-align: center;
                    padding-left: 10px;
                }
            }
        }
        .service-input{
            width: 100%;
        }

        .label-km{
            text-align: center;
        }


        .km-range{
            display: flex;
            align-items: center;
            width: 100%;

            > input {
                margin-left: 15px;
                margin-right: 15px;
            }

            .form-range{
                width: 100%;
            }

            > .cursor-distance{
                width: 50px;
                text-align: center;
                border-radius: 5px;
                border-style: none;
                border: 1px solid #eee;

            }

        }
    }
}

.error-message{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-search-container{
    // min-height: 500px;
    width: 100%;
    display: flex;
    // min-height: 220px;
    min-height: 100%;
    border-top: 1px solid #ccc;

    .search-content-left{
        width: 25%;
        height: 100%;
        border-right: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-content-left,
    .search-content-right{
        background-color: #fff;
        min-height: 100%;
        overflow-y: auto;
    }

    .search-content-right{
        padding: 15px;
        width: 75%;
    }

    .message-form{
        width: 27%;
    }
}
