


.filter-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #eee;

    .filter-content{
        background-color: #fff;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 10px;

        > form > input{
            border-radius: 10px;
            border: 1px solid black;
            margin: 15px;

        }

        .km-range{
            display: flex;
            justify-content: center;
            align-items: center;

            >input {
                width: 500px;
                margin-left: 15px;

            }

            > label{
                padding-top: 7px;
            }
        }
    }
}


.main-search-container{
    // min-height: 500px;
    width: 100%;
    display: flex;

    .search-content-left{
        width: 40%;
        height: 100%;
        border-right: 3px solid black;
        overflow-y: auto;
    }

    .search-content-right{
        height: 100%;
        width: 60%;

        padding: 15px;
    }
}
