


.filter-container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #eee;

    .filter-content{
        background-color: #fff;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 10px;

        > form > input{
            border-radius: 10px;
            border: 1px solid black;
            margin: 15px;

        }

        .km-range{
            display: flex;
            justify-content: center;
            align-items: center;

            > .form-label{
                margin-right:15px;
            }

            >input {
                // width: 500px;
                margin-left: 15px;
                margin-right: 15px;

            }

            > label{
                padding-top: 7px;
            }

            > .cursor-distance{
                width: 100px;
            }


        }
    }
}

.no-results{
    color: red;
    position: absolute;
    font-size: 20px;
    top: 50%;
}


.main-search-container{
    // min-height: 500px;
    width: 100%;
    display: flex;
    min-height: 30px;
    max-height: 800px ;

    .search-content-left{
        width: 40%;
        border-right: 3px solid #212529;


    }

    .search-content-left,
    .search-content-right{
        background-color: #eee;
        border-top: 3px solid #212529;
        max-height: 100%;
        overflow-y: auto;
    }

    .search-content-right{
        padding: 15px;
        width: 60%;
    }

    .message-form{
        width: 27%;
    }
}
